{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link href="{% static 'bootstrap.min.css' %}" rel='stylesheet'>
        <title>Restaurant Picker</title>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-static-top">
            <div class='container'>
                <a href='/' class='navbar-brand'>Deciding Factor</a>
                <ul class='nav navbar-nav navbar-right'>
                    <li><a href='/'>Home</a></li>
                    <li><a href='#'>About</a></li>
                    <li><a href='/login'>Sign In</a></li>
                </ul>
            </div>
        </div>
        <div class='container well'>
            <div class='col-xs-offset-4 col-xs-4'>
                <h1>Restaurant Picker</h1>
                <form method="post">
                    {% csrf_token %}
                    <div>
                         {% for field in form %}
                                 <label for="{{ field.label }}">{{ field.label_tag }} {{field}}
                         {% endfor %}
                    </div>
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
        {% if restaurants %}
        <div class="container">
            <div class="row">
                {% for restaurant in restaurants %}
                    <div class="col-sm-6">
                        <div class="thumbnail text-center">
                                <div class="caption">
                                    <h4> Pick: {{ forloop.counter }} </h4>
                                </div>
                                <div>
                                    <h2 class='card-title'>{{ restaurant.name }}</h2>
                                    <p class="card-text">Price {{ restaurant.price }}</p>
                                    <a href="#" class="btn btn-success">Going Here!</a>
                                    <a href="#" class="btn btn-info">Maybe Later</a>
                                    <a href="#" class="btn btn-danger">Bad Suggestion</a>
                                </div>
                                <div class="text-muted">
                                    Last Visted: 
                                </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </body>
</html>
