{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link href="{% static 'bootstrap.min.css' %}" rel='stylesheet'>
        <title>Restaurant Picker</title>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-static-top">
            <div class='container'>
                <a href='/' class='navbar-brand'>Deciding Factor</a>
                <ul class='nav navbar-nav navbar-right'>
                    <li><a href='/'>Home</a></li>
                    <li><a href='about'>About</a></li>
                    <li><a href='login'>Sign In</a></li>
                </ul>
            </div>
        </div>
        <div class='container well'>
            <div class='col-xs-offset-4 col-xs-4'>
                <h1>Restaurant Picker</h1>
                <form method="post">
                    {% csrf_token %}
                    <div>
                         {% for field in form %}
                                 <label for="{{ field.label }}">{{ field.label_tag }} {{field}}
                         {% endfor %}
                    </div>
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
        <div class='container well'>
            {% for restaurant in restaurants %}
                <div class='panel panel-default'>
                    <h2 class='panel-body'>{{ restaurant.name }}</h2>
                </div>
                <div class='panel panel-default'>
                    <table>
                        <tr>
                            <th>Price</th>
                        </tr>
                        <tr>
                            <th>{{ restaurant.price }}</th>
                        </tr>
                    </table>
                </div>
            {% endfor %}
        </div>
    </body>
</html>
